html{
    font-family: 'Roboto', sans-serif;
}
#secondo-div {
    color: red;
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.blue-text {
    color: blue;
}

#bg-yellow {
    background-color: yellow;
}